/* CSS DOCUMENT */

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, 
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, 
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, 
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}

body {
	font-family: sans-serif;
	background: rgb(255 255 255);
	color: rgb(0 0 0);
	line-height: 1.4;
}

div.home-container {
    background-image: url("home-background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    min-height: 100vh;
}

div.container {
	position: relative;
	min-height: 100vh;
	background: rgb(255 255 255);
}

main {
	padding: 2rem 1rem 4rem;
}

img {
  display: block;
  width: 100%;
  max-width: 50rem;   
  min-width: 20rem;   
  margin: 1rem 0 0.5rem;   
  box-sizing: border-box;
}


header {
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;
	background: rgb(190, 190, 190);
	padding: 1rem 1rem 1rem 0rem;
}

h1 img {
	max-width: 150px;
}

nav ul {
	text-align: right;
}

nav ul li {
	list-style-type: none;
	margin-bottom: 0.5rem;
	text-transform: uppercase;
	font-weight: bold;
}

nav ul li a {
	color: rgb(255 255 0);
	background-color: rgb(0, 60, 255);
	text-decoration: none;
	padding: 0.2rem 0.5rem;
	display: inline-block;
}

main ul {
  list-style-type: none;
  margin: 0;
  padding: 1em;
}

h2, h3, h4 {
	font-weight: bold;
}

h2 {
	font-size: 1.5rem;
	margin: 1rem 0 0.5rem;
}

h3 {
	font-size: 1.2rem;
	margin: 1rem 0 0.5rem;
}

p {
	margin: 0.5rem 0;
}


main.menu ul {
	margin: 0;
	padding: 0;
}

main.menu ul li {
	display: grid;
	grid-template-columns: 1fr auto;
	margin-bottom: 1.5rem;
}

p.description {
	grid-column: 1 / 3;
	margin: 0.2rem 0;
}

span {
	color: red;
}

p.slogan {
	font-size: 3.5em;
	font-family: serif;
	font-style: italic;
	text-align: left;
	margin: 0.5em 1em 2em 0.25em;
	color: rgb(255 255 255);
}

address {
	color: rgb(255, 150, 0);
	margin: 0.3rem;
}

footer {
	position: relative;
	bottom: 0;
	width: 100%;
	background: rgb(255 255 0);
	color: rgb(0 0 0);
	padding: 0.75em 1em 0em;
	box-sizing: border-box;
	text-align: left;
	font-size: 0.9rem;
}

footer p {
	margin: 0;
}
